[submodule "projects/stylometric-transfer"]
	path = projects/stylometric-transfer
	url = https://github.com/ngpepin/stylometric-transfer.git
[submodule "projects/write-like-me"]
	path = projects/write-like-me
	url = https://github.com/Hiro-Inagawa/write-like-me.git
[submodule "projects/mowen"]
	path = projects/mowen
	url = https://github.com/jnoecker/mowen.git
[submodule "projects/stylo"]
	path = projects/stylo
	url = https://github.com/computationalstylistics/stylo.git
[submodule "projects/writing-style-extractor"]
	path = projects/writing-style-extractor
	url = https://github.com/shannhk/writing-style-extractor.git
